@keyframes speen {
  0% { transform: rotate(10deg); }
  50% { transform: rotate(190deg); }
  100% { transform: rotate(370deg); }
}

@keyframes woah {
  0%, 100% { transform: scale(1); }
  50% { transform: scale(0.75); }
}

.animate-speen {
  animation: speen 8s cubic-bezier(0.56, 0.15, 0.28, 0.86) infinite;
}

.animate-woah {
  animation: woah 4s infinite;
}
